<div class="bigButton flexCenter">
  <div class="container flexCenter">
    <a href="/signUp" class="fullHeight textBlack">
      <div class="button yellow flexCenter hoverButton">GET STARTED</div>
    </a>
  </div>
</div>