<div class="cardTitle flexColumn center">
  <h2>
    <%=cardTitle;%>
  </h2>
  <h5>
    <%=cardSubtitle;%>
      <a href="/<%=link;%>" class="textBlack underline">
        <%=cardTag;%>
      </a>
  </h5>
</div>