<div class="featuresSection flexCenter">
  <div class="container flexRow">
    <!-- FLASH CARD -->
    <div class="flex1 black flexColumn justifyBetween padding">
      <div class="justifyStart textYellow fullWidth dflex">word 1 of 51</div>
      <div class="justifyCenter textWhite fullWidth  dflex fontSize2">Abashed</div>
      <div class="justifyEnd textYellow dflex">click to flip card</div>
    </div>
    <div class="flex1 flexCenter">
      <div class="widthP80 heightP100 flexColumn justifyAround">
        <% let feature = `train with flash cards` %>
          <% include ./feature %>
            <% feature = `add your own notes` %>
              <% include ./feature %>
                <% feature = `track your progress` %>
                  <% include ./feature %>
      </div>
    </div>
  </div>
</div>