<footer class="flexCenter">
  <div class="container flexRow alignCenter justifyBetween">
    <h3 class="textYellow">
      all rights reserved, 2018
    </h3>
    <h3 class="textYellow">
      designed & developed by Ashwanth A R
    </h3>
  </div>
</footer>