<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<title>GRE Flash</title>
<meta name="viewport" content="width=device-width, initial-scale=1" />

<meta property="og:title" content="GRE Flash" />
<meta property="og:image" content="../../images/site.png" />
<meta
    property="og:description"
    content="GRE Flashcards Application - Built using Node.js, MongoDB, Express, EJS and jQuery"
/>
<meta property="og:url" content="https://greflash.herokuapp.com/" />

<!-- IMPORT IN STYLESHEET -->
<link rel="stylesheet" href="/main.css" />

<!-- IMPORT IN JQUERY -->
<script
    src="https://code.jquery.com/jquery-3.3.1.min.js"
    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"
></script>
<script src="https://cdn.rawgit.com/nnattawat/flip/master/dist/jquery.flip.min.js"></script>

<!-- IMPORT IN MAIN JS -->
<script src="/app.js"></script>
