<header class="flexCenter">
  <div class="container flexRow alignCenter justifyBetween">
    <h1>
      <a href="#" class="textYellow uppercase">GRE Flash</a>
    </h1>
    <div class="autoWidth heightP100">
      <div class="heightP100 flexRow alignCenter justifyBetween">
        <a href="#" class="textYellow">LOGIN</a>
        <div class="hSpacer"></div>
        <a href="#" class="textYellow">SIGN UP</a>
      </div>
    </div>
  </div>
</header>