<!-- HEADER COMPONENT -->
<header class="flexCenter">
  <!-- CONTAINER COMPONENT -->
  <div class="container flexRow alignCenter justifyBetween">
    <!-- SITE TITLE: GRE FLASH -->
    <h1>
      <a href="/" class="textYellow uppercase">GRE Flash</a>
    </h1>
    <div class="autoWidth heightP100">
      <div class="heightP100 flexRow alignCenter justifyBetween">
        <% if (user===undefined) {
          %>
          <!-- LOGIN BUTTON -->
          <a href="/login" class="textYellow hoverWhite">LOGIN</a>
          <div class="hSpacer"></div>
          <!-- SIGN UP BUTTON -->
          <a href="/signUp" class="textYellow hoverWhite">SIGN UP</a>
          <%
        } else {
          %>
            <!-- YOUR DECK -->
            <a href="/dashboard/yourDeck" class="textYellow hoverWhite">YOUR DECK</a>
            <div class="hSpacer"></div>
            <!-- LOGOUT -->
            <form action="/login?_method=DELETE" method="POST">
              <input type="submit" value="LOGOUT" class="logout black textYellow hoverWhite">
            </form>
            <% } %>
      </div>
    </div>
  </div>
</header>