<!-- HEADER COMPONENT -->
<header class="flexCenter">
  <!-- CONTAINER COMPONENT -->
  <div class="container flexRow alignCenter justifyBetween">
    <!-- SITE TITLE: GRE FLASH -->
    <h1>
      <a href="/" class="textYellow uppercase">GRE Flash</a>
    </h1>
    <div class="autoWidth heightP100">
      <div class="heightP100 flexRow alignCenter justifyBetween">
        <!-- LOGIN BUTTON -->
        <a href="#" class="textYellow hoverWhite">LOGIN</a>
        <div class="hSpacer"></div>
        <!-- SIGN UP BUTTON -->
        <a href="/signUp" class="textYellow hoverWhite">SIGN UP</a>
      </div>
    </div>
  </div>
</header>