<div class="infoTitle flexCenter">
  <div class="container flexColumn center">
    <!-- INFO TEXT: build your vocabulary -->
    <h2>Build your vocabulary using GRE Flash's</h2>
    <h2>Adaptive Learning Methodology</h2>
  </div>
</div>