<div class="form">
  <form action="/signUp" method="POST">
    <% 
        let cardTitle = `SIGN UP`;
        let cardSubtitle = `already have an account?`;
        let cardTag = `Login here!`;
        let link = 'login';
    %>
      <% include ./cardTitle %>
        <% 
        let label = `Enter email`;
        let type = `email`;
        let name = `email`;
      %>
          <% include ./inputField %>
            <% 
        label = `Enter password`;
        type = `password`;
        name = `password1`;
      %>
              <% include ./inputField %>
                <% 
        label = `Re-enter password`;
        type = `password`;
        name = `password2`;
      %>
                  <% include ./inputField %>
                    <% 
                      type = `button`; 
                      value = `Sign Up`;
                    %>
                      <% include ./submitButton %>
  </form>
</div>