<!DOCTYPE html>
<html>

<head>
  <% include ./partials/head %>
</head>

<body>
  <% include ./partials/header %>
    <div class="fullWidth vSpacerM"></div>
    <div class="fullWidth vSpacerM"></div>
    <% include ./app/partials/wordCategorizer %>
      <div class="fullWidth vSpacerM"></div>
      <% include ./app/partials/wordSection %>
        <div class="fullWidth vSpacerM"></div>
        <% include ./app/partials/modeOptions %>
          <% include ./app/partials/sessionTracker %>
            <% include ./app/partials/startSession %>
              <div class="fullWidth vSpacerM"></div>
              <% include ./app/partials/progressTracker %>
                <div class="fullWidth vSpacerM"></div>
                <% include ./app/partials/infoText %>
                  <div class="fullWidth vSpacerM"></div>
                  <% include ./partials/footer %>
</body>

</html>