<!DOCTYPE html>
<html>

<head>
  <% include ./partials/head %>
</head>

<body>
  <!-- HEADER -->
  <% include ./partials/header %>
    <% 
      let theme = 'light'; 
      let titlePart1 = `Build your vocabulary using GRE Flash's`;
      let titlePart2 = `Adaptive Learning Methodology`;
    %>
      <!-- INFO TITLE -->
      <% include ./partials/infoTitle %>
        <!-- MODE OPTIONS -->
        <% include ./partials/modeOptions %>
          <%
          theme = 'dark';
          titlePart1 = `Pomodoro timed practice decks`;
          titlePart2 = `And 4 modes to choose from`;
        %>
            <!-- REUSE TITLE -->
            <% include ./partials/infoTitle %>
</body>

</html>