<!DOCTYPE html>
<html>

<head>
  <% include ./partials/head %>
</head>

<body>
  <!-- HEADER -->
  <% include ./partials/header %>
    <% 
      let theme = 'light'; 
      let titlePart1 = `Build your vocabulary using GRE Flash's`;
      let titlePart2 = `Adaptive Learning Methodology`;
    %>
      <div class="vSpacerM"></div>
      <!-- INFO TITLE -->
      <% include ./partials/infoTitle %>
        <!-- MODE OPTIONS -->
        <% include ./partials/modeOptions %>
          <%
          theme = 'dark';
          titlePart1 = `Pomodoro timed practice decks`;
          titlePart2 = `And 4 modes to choose from`;
        %>
            <!-- REUSE TITLE -->
            <% include ./partials/infoTitle %>

              <div class="vSpacerL"></div>

              <!-- FEATURES SECTION -->
              <% include ./partials/featuresSection %>

                <div class="vSpacerL"></div>
                <!-- GET STARTED BUTTON -->
                <% include ./partials/bigButton %>
                  <div class="vSpacerL"></div>
                  <!-- FOOTER -->
                  <% include ./partials/footer %>
</body>

</html>