<!DOCTYPE html>
<html>

<head>
  <% include ./partials/head %>
</head>

<body>
  <!-- HEADER -->
  <% include ./partials/header %>
    <!-- INFO TITLE -->
    <% include ./partials/infoTitle %>
</body>

</html>