:root {
  --black: #333435;
  --yellow: #efc143;
  --white: #fff;
  --grey: #cccccc;
}

@import url("https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700");

* {
  margin: 0;
  padding: 0;
  font-family: "Quicksand", sans-serif;
}

.textYellow {
  color: var(--yellow);
}

.textWhite {
  color: var(--white);
}

.textBlack {
  color: var(--black);
}

.black {
  background-color: var(--black);
}

.yellow {
  background-color: var(--yellow);
}

.white {
  background-color: var(--white);
}

.grey {
  background-color: var(--grey);
}

.flex1 {
  flex: 1;
}

.uppercase {
  text-transform: uppercase;
}

.underline {
  text-decoration: underline;
}

a {
  text-decoration: none;
}

.padding {
  padding: 20px;
}

.fontSize2 {
  font-size: 2rem;
}
.container {
  width: 1200px;
  height: 100%;
}

.marginAuto {
  margin: 0px auto;
}

/*
  ====================== HOVER CLASSES ====================== 
*/

.hoverWhite:hover {
  color: var(--white);
}

.hoverButton:hover {
  background-color: var(--black);
  color: var(--white);
  cursor: pointer;
}

.hoverOption:hover {
  background-color: var(--yellow);
  cursor: pointer;
}

/*
  DISPLAY
*/
.displayNone {
  display: none;
}

/*
  ====================== LAYOUT ====================== 
*/
/*
  JUSTIFY CONTENT
*/
.justifyEvenly {
  justify-content: space-evenly;
}

.borderBox {
  box-sizing: border-box;
}

.flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flexRow {
  display: flex;
}

.flexColumn {
  display: flex;
  flex-direction: column;
}

.center {
  justify-content: center;
  align-items: center;
}

.alignCenter {
  align-items: center;
}

.justifyBetween {
  justify-content: space-between;
}

.justifyAround {
  justify-content: space-around;
}

.justifyStart {
  justify-content: flex-start;
}

.justifyEnd {
  justify-content: flex-end;
}

.justifyCenter {
  justify-content: center;
}

.dflex {
  display: flex;
}

/*
  ====================== HEIGHT & WIDTH ====================== 
*/

.widthP100 {
  width: 100%;
}

.widthP40 {
  width: 40%;
}

.fullSize {
  width: 100%;
  height: 100%;
}

.fullWidth {
  width: 100%;
}

.fullHeight {
  height: 100%;
}

.autoWidth {
  width: auto;
}

.width200 {
  width: 200;
}
.height100 {
  height: 100px;
}

.height60 {
  height: 60px;
}

.height20 {
  height: 20px;
}

.hSpacer {
  width: 100px;
}

.vSpacerL {
  height: 100px;
}

.vSpacerM {
  height: 60px;
}

.heightP100 {
  height: 100%;
}

.widthP80 {
  width: 80%;
}

/*
  ====================== FONT ====================== 
*/
.fWeight500 {
  font-weight: 500;
}

.fSize1 {
  font-size: 1rem;
}

.fSize15 {
  font-size: 1.5rem;
  font-weight: 500;
}

.fSize2 {
  font-size: 2rem;
}

.textAlignCenter {
  text-align: center;
}

/*
  ====================== COMPONENT CLASSES ====================== 
*/

header {
  width: 100%;
  height: 80px;
  background-color: var(--black);
  position: fixed;
  z-index: 3;
  border-bottom: 1px solid var(--yellow);
}

footer {
  width: 100%;
  height: 80px;
  background-color: var(--black);
}

footer h3 {
  font-weight: normal;
}

.infoTitle {
  width: 100%;
  height: 400px;
}

.infoTitle h2 {
  font-weight: 400;
  font-size: 3rem;
}

.modeOptions {
  width: 100%;
  height: 150px;
  position: relative;
}

.modeBg {
  position: absolute;
  z-index: 1;
}

.modes {
  position: absolute;
  z-index: 2;
}

.modeOption {
  width: 120px;
  padding: 0 10px;
  height: 120px;
  font-weight: 500;
  border: 3px solid var(--yellow);
  font-size: 1.6rem;
}

.featuresSection {
  width: 100%;
  height: 300px;
}

.feature {
  width: 100%;
  height: 80px;
}

.featureLine {
  width: 100%;
  height: 20px;
}

.featureTitle {
  width: 100%;
  height: 60px;
  font-size: 2rem;
  font-weight: 500;
}

.bigButton {
  width: 100%;
  height: 80px;
}

.button {
  width: 400px;
  height: 100%;
  font-size: 2rem;
  border-radius: 10px;
  font-weight: 500;
}

.centeredCard {
  width: 100%;
  height: calc(100vh - 80px);
}

.card {
  width: 800px;
  height: auto;
  border: 1px solid var(--black);
  border-top: 1px solid var(--yellow);
}

.cardTitle {
  width: 100%;
  height: 150px;
}

.cardTitle h2 {
  font-weight: 500;
  font-size: 2rem;
}

.cardTitle h5 {
  font-weight: 400;
  font-size: 1.6rem;
}

.inputField {
  width: 80%;
  height: auto;
  margin: 10px auto 20px auto;
}

.inputLabel {
  width: 100%;
  font-size: 1.4rem;
  font-weight: 500;
}

.inputBox {
  width: 100%;
  font-size: 1.6rem;
  font-weight: 400;
  border: 3px solid var(--yellow);
  border-radius: 5px;
  padding: 10px;
}

.inputButton {
  width: 30%;
  padding: 10px;
  border-radius: 5px;
  font-size: 1.6rem;
  margin-bottom: 30px;
}

.deckOrWord {
  width: 90%;
}

.deckOrWordTitle {
  font-size: 1.5rem;
  margin-bottom: 20px;
  font-weight: 500;
}

.deck {
  width: 100px;
  height: 30px;
  border: 3px solid var(--yellow);
  font-weight: 500;
}

.word {
  width: 150px;
  height: 30px;
  border: 3px solid var(--yellow);
  font-weight: 500;
}

.sessionTracker {
  width: 100%;
  height: 300px;
}

.sessionCircleContainer {
  width: 250px;
}

.sessionCircle {
  width: 150px;
  height: 150px;
  border-radius: 75px;
}

.sessionText {
  font-size: 1.6rem;
}

.logout {
  width: auto;
  font-size: 1rem;
  border: 0px;
  cursor: pointer;
}

.level {
  font-size: 2rem;
  font-weight: 500;
}

.progressBarContainer {
  width: 40vw;
  height: 100%;
}

.infoText {
  width: 100%;
  height: 100px;
}

.infoText p {
  font-weight: 400;
  font-size: 1.5rem;
}

.textArea {
  resize: none;
  height: 150px;
  width: 100%;
  padding: 10px;
  font-size: 1.6rem;
  font-weight: 400;
  border: 3px solid var(--yellow);
  border-radius: 5px;
}
