<!DOCTYPE html>
<html>

<head>
  <% include ../partials/head %>
</head>

<body>
  <% let user; %>
    <% include ../partials/header %>
      <% let page="login"; %>
        <% include ../partials/centeredCard %>
          <% include ../partials/footer %>
</body>

</html>