<!DOCTYPE html>
<html>

<head>
  <% include ../partials/head %>
</head>

<body>
  <% include ../partials/header %>
    <div class="fullWidth vSpacerM"></div>
    <div class="fullWidth vSpacerM"></div>
    <% include ./partials/standardDecks %>
      <div class="fullWidth vSpacerM"></div>
      <% include ./partials/wordCategorizer %>
        <div class="fullWidth vSpacerM"></div>
</body>

</html>