<!DOCTYPE html>
<html>

<head>
  <% include ../partials/head %>
</head>

<body>
  <% include ../partials/header %>
    <% 
    word = word || {};
    word.name = word.name || 'You are yet to add a word';
    id = id || -1;
  %>
      <div class="fullWidth vSpacerM"></div>
      <div class="fullWidth vSpacerM"></div>
      <% include ./partials/wordCategorizer %>
        <div class="fullWidth vSpacerM"></div>
        <% include ./partials/wordSection %>
          <div class="fullWidth vSpacerM"></div>
          <% include ./partials/wordNotes %>
            <div class="fullWidth vSpacerM"></div>
            <% include ./partials/modeOptions %>
              <% include ./partials/sessionTracker %>
                <% include ./partials/startSession %>
                  <div class="fullWidth vSpacerM"></div>
                  <% include ./partials/progressTracker %>
                    <div class="fullWidth vSpacerM"></div>
                    <% include ./partials/infoText %>
                      <div class="fullWidth vSpacerM"></div>
                      <% include ../partials/footer %>
</body>

</html>