<!DOCTYPE html>
<html>

<head>
  <% include ../partials/head %>
</head>

<body>
  <% include ../partials/header %>
    <div class="fullWidth vSpacerM"></div>
    <div class="fullWidth vSpacerM"></div>
    <% let word = deck1[0]%>
      <% include ./partials/standardDecks %>
        <div class="fullWidth vSpacerM"></div>
        <% include ./partials/wordCategorizer %>
          <div class="fullWidth vSpacerM"></div>
          <% include ./partials/wordSection %>
            <div class="fullWidth vSpacerM"></div>
            <% include ./partials/modeOptions %>
              <% include ./partials/sessionTracker %>
                <% include ./partials/startSession %>
                  <div class="fullWidth vSpacerM"></div>
                  <% include ./partials/progressTracker %>
                    <div class="fullWidth vSpacerM"></div>
                    <% include ./partials/infoText %>
                      <div class="fullWidth vSpacerM"></div>
                      <% include ../partials/footer %>
</body>

</html>