<!DOCTYPE html>
<html>

<head>
  <% include ../partials/head %>
</head>

<body>
  <% include ../partials/header %>
    <div class="fullWidth vSpacerL"></div>
    <div class="vSpacerL yellow flexCenter fSize2">
      Edit your word
    </div>

    <% include ./partials/editWord %>
</body>

</html>