<div class="bigButton flexCenter">
  <div class="container flexCenter">
    <a href="/signUp" class="fullHeight textBlack">
      <div class="button white flexCenter hoverOption">
        <%=buttonText;%>
      </div>
    </a>
  </div>
</div>