<div class="widthP80 flexCenter marginAuto">
  <div class="container flexCenter">
    <div class="deckOrWord">
      <div class="deckOrWordTitle flexCenter">
        Categorize Word As:
      </div>
      <div class="deckOrWordOptions flexRow justifyBetween">
        <div class="word flexCenter hoverOption difficulty" difficulty="Easy">Easy</div>
        <div class="word flexCenter hoverOption difficulty" difficulty="Medium">Medium</div>
        <div class="word flexCenter hoverOption difficulty" difficulty="Hard">Hard</div>
      </div>
    </div>
  </div>
</div>