<div class="infoText flexCenter">
  <div class="container flexColumn center">
    <!-- INFO TEXT: build your vocabulary -->
    <p>
      There are 5 levels in total. We recommend progressing
    </p>
    <p>
      through all levels before taking your GRE.
    </p>
  </div>
</div>