<div class="modeOptions">
  <div class="container">
    <div class="modeBg flexColumn fullSize">
      <div class="white flex1"></div>
      <div class="black flex1"></div>
    </div>
    <div class="modes fullSize flexCenter">
      <div class="container flexRow alignCenter justifyAround">
        <div class="modeOption white flexCenter">EASY</div>
        <div class="modeOption white flexCenter">MEDIUM</div>
        <div class="modeOption white flexCenter">HARD</div>
        <div class="modeOption white flexCenter">INFINITE</div>
      </div>
    </div>
  </div>
</div>