<div class="fullWidth flexCenter">
  <div class="container flexRow justifyAround alignCenter height100">
    <div class="level fullHeight">level 0</div>
    <div class="progressBarContainer yellow fullHeight">
      <div class="progressBar">
      </div>
    </div>
    <div class="level">level 1</div>
  </div>
</div>