<div class="sessionTracker black flexCenter">
  <div class="container">
    <div class="flexRow justifyBetween fullHeight">
      <div class="flexRow alignCenter fullHeight">
        <div class="sessionCircleContainer fullHeight flexCenter">
          <div class="sessionCircle white"></div>
        </div>
        <div class="sessionText flexColumn">
          <div class="textWhite">SESSION 1</div>
          <div class="textYellow">25 MINUTES</div>
        </div>
      </div>
      <div class="flexRow alignCenter fullHeight">
        <div class="sessionText flexColumn">
          <div class="textYellow">WORDS COMPLETED</div>
          <div class="textWhite">THIS SESSION</div>
        </div>
        <div class="sessionCircleContainer fullHeight flexCenter">
          <div class="sessionCircle white"></div>
        </div>
      </div>
    </div>
  </div>
</div>