<div class="fullWidth flexCenter">
  <div class="container flexCenter">
    <div class="deckOrWord">
      <div class="deckOrWordTitle">
        Standard Decks:
      </div>
      <div class="deckOrWordOptions flexRow justifyBetween">
        <div class="deck flexCenter hoverOption yellow">DECK 1</div>
        <div class="deck flexCenter hoverOption">DECK 2</div>
        <div class="deck flexCenter hoverOption">DECK 3</div>
        <div class="deck flexCenter hoverOption">DECK 4</div>
        <div class="deck flexCenter hoverOption">DECK 5</div>
        <div class="deck flexCenter hoverOption">DECK 6</div>
      </div>
    </div>
  </div>
</div>