<div class="widthP80 flexCenter marginAuto">
  <div class="container flexCenter">
    <div class="deckOrWord">
      <div class="deckOrWordTitle flexCenter">
        Word is currently categorized as:
      </div>
      <div class="deckOrWordOptions flexRow justifyBetween">
        <div class="word flexCenter hoverOption">Mastered</div>
        <div class="word flexCenter hoverOption">Proficient</div>
        <div class="word flexCenter hoverOption">Familiar</div>
        <div class="word flexCenter hoverOption">Unfamiliar</div>
        <div class="word flexCenter hoverOption">Clueless</div>
      </div>
    </div>
  </div>
</div>