<div class="fullWidth flexCenter">
  <div class="container flexCenter">
    <div class="deckOrWord">
      <div class="deckOrWordTitle">
        Categorize Word As:
      </div>
      <div class="deckOrWordOptions flexRow justifyBetween">
        <div class="word flexCenter hoverOption">Mastered</div>
        <div class="word flexCenter hoverOption">Proficient</div>
        <div class="word flexCenter hoverOption">Familiar</div>
        <div class="word flexCenter hoverOption">Unfamiliar</div>
        <div class="word flexCenter hoverOption">Clueless</div>
      </div>
    </div>
  </div>
</div>